<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="../vue/vue.js"></script>
</head>

<body>
    <div id="root">
        <h1>{{msg}}</h1>
        <form action="">
            用户名:<input type="text" v-model="user.username"><br>
            密码:<input type="text" v-model="user.password"><br>
            邮箱:<input type="text" v-model="user.email"><br>
            qq:<input type="text" v-model="user.qq"><br>
            验证码:<input type="text" v-model="user.code"><br>
            <input type="button" @click="reg" value="注册">
        </form>
    </div>
    <script type="text/javascript">
        new Vue({
            el: '#root',
            data: {
                msg: "hello vue",
                user: {}
            },
            methods: {
                reg() {
                    //1. 获取form表单数据
                    console.log(this.user);

                    //2. 发送ajax请求

                }


            }
        })
    </script>
</body>

</html>