<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="../vue/vue.js"></script>
</head>

<body>
    <div id="root">
        请输入内容: <input type="text" v-model="content"><button @click="saveContent()">添加到备忘录</button><br>
        <ul v-if="lists.length!=0">
            <li v-for="(content,index) in lists" :key="index">{{index+1}} {{content}}<a href="javascript:;"
                    @click="delContent(index)">删除</a></li>
        </ul>

        <ul v-if="lists.length==0">
            <li><span style="color:red">当前备忘录中还没有任何数据!!</span></li>
        </ul>

        <!-- javascript:;是阻止默认事件 , v-on 事件可以直接在引用里面写方法体 -->
        <a href="javascript:;" @click="lists=[]" v-show="lists.length!=0">清空备忘录</a>
        <h3>当前备忘共{{lists.length}}条</h3>

    </div>

    <script type="text/javascript">

        Vue.config.productionTip = false
        const vm = new Vue({
            el: '#root',

            data: {
                content: "",
                lists: ["今天晚上吃好吃的", "今天晚上一起打游戏", "今天晚上一起学习"]
            },

            methods: {
                saveContent() {
                    // console.log(this.content)
                    if (!this.content) {
                        alert("请输入内容...");
                        return false;//如果输入为空，就不执行下面的添加语句
                    }
                    this.lists.push(this.content)
                },

                delContent(index) {
                    console.log(index);
                    this.lists.splice(index, 1);//根据下标删除 参数1：从哪个位置开始删 参数2：删除几个
                }
            }
        })
    </script>
</body>

</html>