<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="../vue/vue.js"></script>
</head>

<body>
    <div id="app">
        <h1>{{msg}}</h1>
        编号:<input type="text" v-model="item.id">
        名称:<input type="text" v-model="item.name">
        价格:<input type="text" v-model="item.price">
        数量:<input type="text" v-model="item.count">
        <button @click="addCart">添加到购物车</button>
        <br>
        <br>
        <br>

        <table border="1">
            <tr>
                <td>编号</td>
                <td>名称</td>
                <td>价格</td>
                <td>购买数量</td>
                <td>小计</td>
            </tr>

            <tr v-for="item,index in items" v-bind:key="item.id">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td><input type="button" @click="incrementCount(index)" value="+">{{item.count}}<input type="button"
                        value="-" @click="decrementCount(index)"></td>
                <td>{{(item.count*item.price).toFixed(2)}}</td>
            </tr>
        </table>
        <h3>总价格:{{totalPrice().toFixed(2)}}</h3>
    </div>


    <script>
        var app = new Vue({
            el: '#app',
            data() {
                return {
                    item: {},
                    msg: "购物车案例",
                    items: [{ id: 1, name: 'iphone14', price: 19.9, count: 1 },
                    { id: 2, name: 'meta40 pro', price: 15.0, count: 1 }],

                }
            },

            methods: {
                incrementCount(idx) {
                    this.items[idx].count++;
                },
                decrementCount(idx) {
                    if (!(this.items[idx].count > 1)) { alert('购买商品不能少于1件!'); return false; }
                    this.items[idx].count--;
                },

                totalPrice() {
                    // 计算总价格
                    var totalPrice = 0;
                    for (var i = 0; i < this.items.length; i++) {
                        totalPrice += this.items[i].count * this.items[i].price;
                    }
                    return totalPrice;
                },

                addCart() {
                    if (!this.item.id) { alert('请输入编号！'); return false }
                    if (!this.item.name) { alert('请输入名称！'); return false }
                    if (!this.item.price) { alert('请输入价格！'); return false }
                    if (!this.item.count) { alert('请输入数量！'); return false }
                    if (!(this.item.count > 0)) { alert('请输入正确的数量！'); return false }
                    this.items.push(this.item)
                }
            }
        })
    </script>
</body>

</html>